<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GeoAnalysis</title>
<!--    <link rel="icon" type="image/x-icon" href="/static/img/logo.png">-->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/leaflet.pm.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/leaflet.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/Control.MiniMap.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/map.css"/>
</head>
<style>
    .map{
        position: relative;
        z-index: 1;
    }
    body{
        margin:0;
    }
</style>
<body>
<div id="app">
    <toolStyle
            :participants="participants"
            :resources="resources"
            v-on:resourceUrl="selecetResource"
            class="toolbar"
    ></toolStyle>
    <div id="leadletMap" class="map" :style="{height:windowHeight+'px'}">
    </div>

    <el-dialog
            title="Operation"
            :visible.sync="dialogVisible"
            width="80%"
            :before-close="handleClose"
            >
<!--        <div class="container" style="">-->
        <el-tabs v-model="activeName" type="card" @tab-click="handleClick" stretch="true">
            <el-tab-pane label="GeoJSON Download" name="first">
                <div class="leftInfo" style="margin-left: 40px;display: inline-block;width: 45%;float: left;">
                    <div>
                        <pre lang="json">{{geoJSON}}</pre>
                    </div>
                </div>
                <div class="rightInfo" style="text-align:right;margin:0px auto 0px auto;display: inline-block;width: 45%">
                    <div style="float: left;margin-left: 20px;margin-bottom: 20px">
                        <strong>Current zoom level : </strong>
                        <i>{{zoom}}</i>
                    </div>
                    <Modal
                            v-model="modalExport"
                            title="Export GeoJSON to resource center"
                            style="display: inline-block;float: left;"
                    >
                        <el-form
                                ref="formValidate"
                                :model="formValidate"
                                :rules="ruleValidate"
                                :label-width="80"
                                style="margin-left:20px"
                        >
                            <el-form-item label="Name" prop="fileName">
                                <el-input v-model="formValidate.fileName" placeholder="*.json"/>
                            </el-form-item>
                            <el-form-item label="Description" prop="fileDescription">
                                <el-input
                                        v-model="formValidate.fileDescription"
                                        type="textarea"
                                        placeholder="Enter something..."
                                />
                            </el-form-item>
                        </el-form>
                        <p style="margin-left:30px">
                            Download this data directly.
                            <el-button type="primary" style="margin-left:50px" @click="downloadGeoJson('formValidate')">Download</el-button>
                        </p>
                    </Modal>
                </div>
            </el-tab-pane>
            <el-tab-pane label="Invoke" name="second">
                <el-tabs type="border-card" stretch="true">
                    <el-tab-pane>
                        <span slot="label">
                            <i class="el-icon-date"></i>
                            瓦片下载
                        </span>

                        <div style="text-align: center" v-loading="loading">
                            <span>Show selected tiles</span>
                            <el-button type="primary" @click="tileSplice1()">Invoke</el-button>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="DEM 分析1">DEM 分析1</el-tab-pane>
                    <el-tab-pane label="DEM 分析2">DEM 分析2</el-tab-pane>
                    <el-tab-pane label="DEM 分析3">DEM 分析3</el-tab-pane>
                </el-tabs>
            </el-tab-pane>
        </el-tabs>

<!--        </div>-->

<!--        <span slot="footer" class="dialog-footer" style="float:right;">-->
<!--            <el-button @click="dialogVisible = false">Cancel</el-button>-->
<!--            <el-button type="primary" @click="dialogVisible = false">Confirm</el-button>-->
<!--        </span>-->
    </el-dialog>


</div>
</body>
<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/leaflet.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/js/common/axios.min.js"></script>
<script src="/static/js/Control.MiniMap.min.js"></script>
<script src="/static/js/leaflet.pm.min.js"></script>
<script src="/static/js/api/socket.js"></script>
<script src="/static/js/map.js"></script>
</html>